<web-app>

    <servlet>
        <servlet-name>graphflow</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>
                org.springframework.web.context.support.AnnotationConfigWebApplicationContext
            </param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                org.doxla.graphflow.spring.config.MvcBeans
                org.doxla.graphflow.spring.config.MvcFeatures
                org.doxla.graphflow.spring.config.Neo4jConfig
                org.doxla.graphflow.spring.config.TransactionBeans
                org.doxla.graphflow.spring.config.TransactionFeatures
                org.doxla.graphflow.spring.config.WorkflowModelBeans
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>graphflow</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>